@font-face {
    font-family: RoleModel;
    src: url("Fonts/role-model-font/RoleModelPersonalUseRegular-8MooA.otf");
}

@font-face {
    font-family: Ragna;
    src: url("Fonts/f24q220-ragna/ttf/f24q220-ragna-ragna-regular-400.ttf");
}

@font-face{
    font-family: Rosmatika;
    src: url("Fonts/rosmatika-font/RosmatikaRegular-BWA45.ttf")
}

@font-face {
    font-family: PrintClearly;
    src: url("Fonts/print-clearly-font/PrintClearly-GGP.ttf");
}

header{
    display: flex;
    position: absolute;
    top: 1vh;
    height: 7vh;
    width: 100vw;
    background-color: white;
}

header h2 {
    margin-top: 1vh;
    margin-left: 3vw;
    color: goldenrod;
    font-family: RoleModel;
}

nav {
    display: flex;

}

#menuIcon{
    margin-bottom: 3vh;
    color: black;
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin-left: 55vw;
    padding: 0;
    margin-top: 1vh;
    display: flex; 
}

nav li {
    padding: 3vh 2vw;
}

nav a {
    text-decoration: none;
    color: #af9453;
    font-family: RoleModel;
}

#packagesMain {
    text-align: center;
    margin-top: 12vh;
}

#packagesMain h1 {
    font-family: RoleModel;
    font-size: 45px;
    color: #af9453;
}

#packageBoxes {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.package-div {
    height: 65wh;
    background-color: #af9453;
    position: relative;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    width: 30%;
    min-height: 460px;
}

.package-div h1 {
    color: white;
    font-family: RoleModel;
    font-size: xx-large;
    position: relative;
    box-shadow: #CD7F32;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.package-div ul {
    list-style: none;
    color: white;
    font-family: PrintClearly;
    position: relative;
    font-size: x-large;
    margin: 0%;
    padding: 0%;
}


#bronze:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px 0px #CD7F32;
}


#silver:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px 0px #C0C0C0;
}

#gold:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px 0px  #FFD700;

}

@media (max-width: 800px){

    .hideOnMobile {
        display: none;
    }

    #menuIcon{
        display: flex;
    }

    #packagesBoxes {
        display: block;
        
    }

    .package-div {
        width: 80%;

    }

}


.responsive-div {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
  }
  
  
  @media (max-width: 800px) {
    .responsive-div {
      flex-direction: column; 
      align-items: center;
    }
  }
